---
import Embed from "../components/mc/embed/embed.jsx"
import '../styles/mc.css'
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Server</title>
    </head>
    <body>
        <div class="banner">
            <h1>Avaliable Minecraft Servers</h1>
        </div>
        <div class="cards">
            <Embed 
                title="Wallmaria"
                ip="prometheuzdy.cloud"
                port="19132"
                version="1.20 Bedrock"
                info="Wallmaria is a vanilla SMP server"
                version="Bedrock"
                access="Invite Only"
            />

            <Embed
                class="card"
                title="DIG-COMP-LOGIC"
                ip="prometheuzdy.cloud"
                port="19232"
                version="1.20 Bedrock"
                info="DIG-COMP-LOGIC is a creative server for building redstone digital logic circuits"
                version="Bedrock"
                access="Invite Only"
            />
        </div>
    </body>
</html>