---
import Cards from '../components/mc_server/cards/cards.jsx'
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Server</title>
    </head>
    <body>
        <div class="banner">
            <h1>Avaliable Minecraft Servers</h1>
        </div>
        <div class="cards">
            <Cards client:load/>
        </div>
    </body>
</html>